@model Topic.ViewModels.Requests.CreatePostRequest

@{
    ViewBag.Title = "Create your awesome topic";
}

@using (Html.BeginForm("Create", "Topic", FormMethod.Post, new {@style = "margin-top:2rem;"}))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="h2">What's on your mind?</p>
        </div>
        <div class="panel-body ">
            <p class="h3">Title</p>
            @Html.TextBoxFor(x => x.Title, new {@class = "form-control", @style = "max-width:100%;"})
            @Html.ValidationMessageFor(x => x.Title,  "",new {@class = "text-danger"})
            <hr/>
            <p class="h4">Content</p>
            @Html.TextAreaFor(x => x.Content, new {@class = "form-control", @style = "max-width:100%;", @cols = "3", @rows = "8"})
            @Html.ValidationMessageFor(x => x.Content, "", new {@class = "text-danger"})
            
            <input type="submit" id="post" name="post" value="Post"/>
        </div>
    </div>
}